@{
    ViewBag.Title = "About";
}

<!-- Team Members Row -->
<div class="row text-center justify-content-center">
    <h2 class="display-3 my-5">About Us</h2>

    <!-- Introduction Row -->
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet 
        <br>quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?</p>

    <div class="col-lg-12">
        <h2 class="my-4">Our Team</h2>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
        <img class="rounded-circle img-fluid d-block mx-auto"  width="200" height="200" src="https://upload.wikimedia.org/wikipedia/commons/5/5e/John_F._Kennedy%2C_White_House_photo_portrait%2C_looking_up.jpg" alt="John F. Kennedy">
        <h3>John Dominguez</h3>
        <h4><small>Software Developer</small></h4>
        <p>
            <blockquote>
                "What about the reality where Hitler cured cancer, Morty? The answer is: Don't think about it."
                <cite><br>- Abraham Lincoln</cite>
            </blockquote>
        </p>
    </div>

</div>